.login-form
{
    display: block;
    width: 500px;
    margin: 7px auto;
}

.results
{
    display: none;
}

.login-bg
{
    background-image: url("/eco2/images/bg.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.miac-logo
{
    width: 275px;
    height: 184px;
    background-image: url("/eco2/images/logo-miac.png");
    margin: 0 auto;
    background-position-y: 104px;
    background-repeat: no-repeat;

}

.AddPanel
{
    width: 700px;
    margin:0 auto;;
}